@font-face {
    font-family: 'Century Gothic';
    src: url('../CenturyGothic.ttf');
}
@font-face {
    font-family: 'Palace Script MT';
    src: url('../PalaceScriptMT.ttf');
}

body {
    margin: 0;
    background: #FCF3F3;
    font-family: 'Century Gothic', 'Palace Script MT';
}

p {
    font-size: 17px;
    line-height: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: 530px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

header nav {
    width: 100%;
    margin-top: -160px;
    position: fixed;
    background: #FCF3F3;
    z-index: 6;
}

.hero-text {
    margin-left: 85vh;
    margin-top: 160px;
}

header .social-media {
    padding-left: 10%;
}

.nav {
    padding-right: 10%;
}

.hide-desktop {
    display: none;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 20px 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 45px;
    font-size: 17px;
    padding: 8px 17px;
}

nav a:hover {
    text-shadow: 0 0 1px gray, 0 0 1px gray;
}

.active {
    color: #E71313;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 17px;
}

nav ul ul {
    position: absolute;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

nav ul li:hover > ul {
    top: 65px;
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 180px;
    float: none;
    display: list-item;
    background: #FCF3F3;
    border-radius: 5px;
    border-top: 1px solid white;
}

nav .social-media a {
    float: left;
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding: 30px 17px;
}

.fa-angle-down {
    margin-left: 3px;
}

.hero-text p {
    font-family: 'Palace Script MT';
    font-size: 75px;
    text-align: center;
    margin-left: 40px;
    margin-top: 35px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-size: 60px;
    margin-top: -80px;
}

h2 {
    color: #E71313;
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

.box {
    position: relative;
    background: #F2D1D1;
    height: 220px;
    top: -250px;
    z-index: 0;
}

.hero {
    position: relative;
    text-align: center;
    padding: 0 120px;
    z-index: 1;
    margin-top: -210px;
}

.summry-profile {
    background-color: #FCF3F3;
    font-size: 16px;
    border-radius: 70px;
    padding: 13px 80px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.hero-image {
    display: block;
    text-align: center;
    width: 600px;
    margin: auto;
}

.intro {
    margin-top: -170px;
}

.wid {
    display: flex;
    margin-bottom: -110px;
    justify-content: center;
    list-style-type: none;
}

.wid img {
    margin: 60px -30px;
}

.wid p {
    width: 490px;
}

.container p {
    padding-bottom: 15px;
}

.button {
    background-color: #E71313;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: #cf1414;
}

.line {
    content: "";
    width: 25%;
    text-align: center;
    margin: auto;
    border-bottom: 10px dotted #E71313;
    position: relative;
    top: 10px;
    margin: 70px auto 50px auto;
}

.couple {
    margin: 0 40px;
}

.hi-img {
    max-width: 250px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background-color: #F2D1D1;
    padding: 10px 120px 10px 120px;
    text-align: center;
}

footer .social-media {
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding: 0 25px;
}

footer a:hover {
    text-shadow: 0 0 1px gray, 0 0 1px gray;
}

@media all and (max-width: 950px) {

    .container {
        padding: 0 35px;
    }

    .hide-mobile {
        display: none;
    }

    .name {
        padding-left: 10%;
    }

    header nav {
        padding-bottom: 20px;
    }

    nav ul{
        position: fixed;
        width: 40%;
        top: 0;
        right: 0;
        z-index: 2;
        float: left;
        background: #F2D1D1;
        padding: 30px;
        height: 100%;
    }

    nav .social-media {
        display: none;
    }

    nav .name {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        padding-top: 17px;
    }

    .name a {
        text-decoration: none;
        color: #E71313;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 15px;
    }

    .active {
        font-size: 15px;
    }

    nav ul ul {
        position: static;
        float: none;
        margin: -35px -20px;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        display: block;
        border: none;
        margin-top: -5px;
        background: none;
    }

    .exit {
        display: block;
        text-align: right;
    }

    .exit img {
        cursor: pointer;
    }

    .menu {
        display: block;
        position: absolute;
        right: 80px;
        margin: -20px 5px;
        cursor: pointer;
    }

    .hero-text p {
        font-size: 65px;
        margin-left: 40px;
        margin-top: 35px;
    }
    
    h1 {
        font-size: 50px;
        margin-top: -70px;
        margin-right: 40px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .box {
        height: 130px;
        top: -150px;
    }
    
    .hero {
        margin-top: -180px;
        padding: 0 25px;
    }
    
    .summry-profile {
        font-size: 13px;
        padding: 5px 25px;
        margin: auto;
    }
    
    .hero-image {
        width: 75%;
    }
    
    .intro {
        margin-top: -70px;
    }
    
    .container p {
        padding-bottom: 15px;
    }
    
    .button {
        font-size: 13px;
    }
    
    footer {
        display: block;
        margin-top: 70px;
        padding: 25px 0 -10px 0;
        text-align: center;
    }
    
    .couple {
        margin: 0 15px;
    }

    .wid {
        margin-bottom: -10px;
    }
}

@media all and (max-width: 800px) {

    .hero-text {
        margin-left: 20px;
        margin-top: 100px;
    }

    .hero {
        margin-top: -10px;
    }

    header nav {
        margin-top: -100px;
    }

    footer {
        padding: 10px;
    }

    .line {
        width: 40%;
    }
}

@media all and (max-width: 650px) {

    .hero-image {
        width: 100%;
    }

    .name {
        padding-left: 25px;
    }

    .container {
        width: auto;
    }

    .wid p {
        width: auto;
    }

    .menu {
        right: 25px;
    }

    .couple {
        margin: 0 5px;
    }

}