@font-face {
    font-family: 'Century Gothic';
    src: url('../CenturyGothic.ttf');
}

@font-face {
    font-family: 'Palace Script MT';
    src: url('../PalaceScriptMT.ttf');
}

body {
    margin: 0;
    background: #FCF3F3;
    font-family: 'Century Gothic', 'Palace Script MT';
}

p {
    font-size: 17px;
    line-height: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: 530px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

header nav {
    width: 100%;
    margin-top: -120px;
    position: fixed;
    background: #FCF3F3;
    z-index: 6;
}

header .social-media {
    padding-left: 10%;
}

.nav {
    padding-right: 10%;
}

.hide-desktop {
    display: none;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 20px 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 45px;
    font-size: 17px;
    padding: 8px 17px;
}

nav a:hover {
    text-shadow: 0 0 1px gray, 0 0 1px gray;
}

.active {
    color: #E71313;
    font-weight: bold;
    padding: 8px 17px;
    line-height: 30px;
}

nav ul ul {
    position: absolute;
    top: 55px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

nav ul li:hover > ul {
    top: 65px;
    opacity: 1;
    visibility: visible;
    z-index: 4;
}

nav ul ul li {
    position: relative;
    margin: 0;
    max-width: 200px;
    float: none;
    display: list-item;
    background: #FCF3F3;
    border-radius: 5px;
    border-top: 1px solid white;
}

nav .social-media a {
    float: left;
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding: 30px 17px;
}

.fa-angle-down {
    margin-left: 3px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h2 {
    color: #E71313;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    line-height: 5px;
    margin-top: 30px;
}

h4 {
    font-size: 18px;
}

.box {
    position: relative;
    background: #F2D1D1;
    height: 6rem;
    z-index: 0;
    margin-top: 120px;
}

.titleg {
    position: relative;
    z-index: 1;
    text-align: center;
    top: -11rem;
    margin-bottom: -80px;
}

.titleg p {
    font-size: 20px;
    margin-top: -30px;
}

.break {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    width: max-content;
    margin: -50px auto;
    background: #FCF3F3;
}

.glow-1 {
    position: absolute;
    margin: -1.5rem -5.3rem;
}

.glow-2 {
    position: absolute;
    margin: -1.5rem -6.2rem;
}

.glow-3 {
    position: absolute;
    margin: -1.5rem -7.7rem;
}

.break p {
    font-size: 30px;
    font-weight: bold;
}

.line-break {
    content: "";
    height: 2px;
    width: 100%;
    background: #F2D1D1;
    position: relative;
    top: 10px;
    z-index: 0;
    margin-bottom: 50px;
}

.casestudy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto 130px;
    background-color: #F2D1D1;
    padding: 50px;
}

.casestudy img {
    width: 100%;
}

.first {
    flex: 60%;
    max-width: 60%;
}

.second {
    flex: 40%;
    max-width: 40%;
}

.prototype {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
    background-color: #F2D1D1;
    padding: 10px 50px;
}

.prototype img {
    width: 100%;
}

.section {
    flex: 50%;
    max-width: 50%;
}

.section div {
    padding: 40px;
}

.partition {
    border-right: 5px dotted #FCF3F3;
}

.button {
    background-color: #E71313;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button:hover {
    background-color: #cf1414;
}

.line {
    content: "";
    width: 25%;
    text-align: center;
    margin: auto;
    border-bottom: 10px dotted #E71313;
    position: relative;
    margin: 10px auto 50px auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    background-color: #F2D1D1;
    padding: 10px 120px 10px 120px;
    text-align: center;
}

footer .social-media {
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    font-size: 19px;
    color: black;
    padding: 0 25px;
}

footer a:hover {
    text-shadow: 0 0 1px gray, 0 0 1px gray;
}

@media all and (max-width: 950px) {

    .container {
        padding: 0 35px;
    }

    .name {
        padding-left: 10%;
    }

    header nav {
        padding-bottom: 20px;
    }

    .hide-mobile {
        display: none;
    }

    nav ul {
        position: fixed;
        width: 40%;
        top: 0;
        right: 0;
        z-index: 5;
        float: left;
        background: #F2D1D1;
        padding: 30px;
        height: 100%;
    }

    nav .social-media {
        display: none;
    }

    nav .name {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        padding-top: 17px;
    }

    .name a {
        text-decoration: none;
        color: #E71313;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 15px;
    }

    .active {
        font-size: 15px;
    }

    nav ul ul {
        position: static;
        float: none;
        margin: -35px -20px;
        opacity: 1;
        visibility: visible;
        width: 300px;
    }

    nav ul ul li {
        display: block;
        border: none;
        margin-top: -5px;
        background: none;
    }

    .exit {
        display: block;
        text-align: right;
    }

    .exit img {
        cursor: pointer;
    }

    .menu {
        display: block;
        position: absolute;
        right: 60px;
        margin: -20px 5px;
        cursor: pointer;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    .box {
        height: 4.5rem;
    }

    .button {
        font-size: 13px;
    }

    footer {
        display: block;
        margin-top: 70px;
        padding: 25px 0 -10px 0;
        text-align: center;
    }

    .titleg {
        top: -8.8rem;
    }

    .titleg p {
        font-size: 18px;
        margin-top: -30px;
    }

}

@media all and (max-width: 800px) {

    footer {
        padding: 10px;
    }

    .line {
        width: 40%;
    }
}

@media all and (max-width: 650px) {

    .container {
        width: auto;
    }

    .name {
        padding-left: 25px;
    }

    .menu {
        right: 25px;
    }

    .titleg {
        top: -7.9rem;
    }

    .titleg p {
        font-size: 14px;
        max-width: 80%;
        margin: -25px auto;
    }

    h1 {
        font-size: 40px;
    }

    .first {
        flex: 100%;
        max-width: 100%;
    }

    .second {
        text-align: center;
        flex: 100%;
        max-width: 100%;
    }

    .section {
        flex: 100%;
        max-width: 100%;
    }

    .partition {
        border-right: none;
        border-bottom: 5px dotted #FCF3F3;
    }

}
