@font-face {
    font-family: 'Century Gothic';
    src: url('../CenturyGothic.ttf');
}

@font-face {
    font-family: 'Palace Script MT';
    src: url('../PalaceScriptMT.ttf');
}

p {
    font-size: 17px;
    line-height: 25px;
}

ul {
    margin: 0 15px;
    padding: 0;

    li {
        padding: 0 10px;
    }
}

h1 {
    font-size: 50px;

    @media (max-width: 1100px) {
        font-size: 35px;
    }
}

h2 {
    color: #E71313;
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;

    @media (max-width: 1100px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    background: #FCF3F3;
    font-family: 'Century Gothic', 'Palace Script MT', serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    min-height: calc(100vh - 85px);
    justify-content: space-between;
}

.social-media {
    display: flex;
    gap: 40px;
    padding: 20px 0;

    a {
        text-decoration: none;
        font-size: 19px;
        color: black;
    }
}

.container {
    padding: 0 10%;

    @media (max-width: 1100px) {
        padding: 0 60px;
    }

    @media (max-width: 600px) {
        padding: 0 20px;
    }

    &-sm {
        width: 540px;
        margin: 0 auto;

        @media (max-width: 600px) {
            width: auto;
            padding: 0 20px;
        }
    }
}

.fa-angle-down {
    margin-left: 3px;
}

.hide-mobile {
    @media (max-width: 1100px) {
        display: none;
    }
}

.hide-desktop {
    @media (min-width: 1100px) {
        display: none;
    }
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-70 {
    margin-bottom: 70px;
}

.my-70 {
    margin-bottom: 70px;
    margin-top: 70px;
}

.button {
    background-color: #E71313;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;

    :hover {
        background-color: #cf1414;
    }

    @media (max-width: 1100px) {
        font-size: 13px;
    }
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text-center {
    text-align: center;
}

.line {
    content: "";
    width: 25%;
    text-align: center;
    position: relative;
    margin: 40px auto;

    @media (max-width: 1100px) {
        width: 40%;
    }

    &-pink {
        border-bottom: 10px dotted #F2D1D1;
    }

    &-red {
        border-bottom: 10px dotted #E71313;
    }
}

.break-text {
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;

    &:after {
        content: "";
        height: 2px;
        width: 100%;
        background: #F2D1D1;
        position: absolute;
        top: 60%;
        z-index: -1;
        display: block;
    }

    span {
        background: #FCF3F3;
        padding: 0 20px;
        position: relative;

        &:before {
            content: "";
            display: block;
            background-image: url(../images/glow.svg);
            width: 30px;
            height: 30px;
            left: -5px;
            position: absolute;
            background-repeat: no-repeat;
            top: -15px;
        }
    }

    @media (max-width: 1100px) {
        margin-top: 20px;
    }
}

